<h1>Users#my_portfolio</h1>
<p>Find me in app/views/users/my_portfolio.html.erb</p>

<div>
    <%= form_tag search_stock_path, remote: true, method: :get do %>
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg"%> 
        <%= button_tag type: :submit, class: "btn btn-success" do %> 
            <%= 'Search' %>
        <% end %>
    <% end %> 
</div>

<div id="results">
            
</div>

    <table class = "table">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @tracked_stocks.each do |stock| %>
                <tr>    
                    <td><%= stock.ticker %></td>
                    <td><%= stock.name %></td>
                    <td><%= stock.last_price %></td>
                    <td><%= link_to 'Remove', user_stock_path(stock), method: :delete, data: {} %></td>
                </tr>
            <% end %> 
        </tbody>
    </table>
